td {
	background-color: #ddd;
	border: 1px solid black;
	min-width: 20px;
	min-height: 20px;
	text-align: center;
}

#tape {
	overflow: auto;
    background: gray;
    padding: 10px;
	margin: 10px;
}

.selected {
	background-color: red;
}

textarea {
	display: block;
	height: 100px;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

#string {
	width: 200px;
}

#control {
	padding: 10px;
	margin: 10px;
	background: gray;
	float: left;
}

#table_div {
	padding: 10px;
	margin: 10px;
	background: gray;
	float: left;
}
