body {
	background: #e6e6e6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAMAAADjcdz2AAAAZlBMVEXV1dXW1tbX19jY2Njb29rc3Nvc3Nzc3dze3t3e3t7f39/g4N/g4ODh4eDh4eHh4eLh4uHi4uHj4+Pj5OPk5OPk5OTk5eTl5eTl5eXl5uXm5ubm5ufm5+bn5+bn5+fn6Ofo6Ofo6OhY5WpOAAAAiElEQVQY002Q4RICIQiEua6sM7OyLKLc4v1fsks9bf8wfLPADgTcGZoFvgEEiGiVSAbQppRBsS+FSo3OcTFlAD8SmdhB3Jj9bm2xAIQD4xWcNMA835Jr6jvm+0DqO/SNFodqpBaP5C/ob5iMl96LNzSMtnlgVwP5qUZU/cTtdCThc1j+cTk9nl9cfh4JmnWJ9wAAAABJRU5ErkJggg==) repeat;
	color: #000;
	margin: 0;
	padding: 0;
}

td {
	border: 1px solid #ccc;
	min-width: 20px;
	min-width: 20px;
	text-align: center;
	padding: 3px;
}

/*.focus_div {
	border: 5px dashed #000 !important;
	padding: 5px !important;
}

.focus_text {
	border: 5px dashed #000 !important;
	padding: 2px !important;
}

.focus_run {
	border: 5px dashed #000 !important;
	padding: 2px 6px !important;
}

span.help {
	border-bottom: 1px dotted #000;
	cursor: pointer;
}*/

#tape {
	overflow: auto;
    background: #fff;
    padding: 10px;
	margin: 10px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 10px;
}

.selected {
	font-weight: bold;
	border: 3px solid #464646;
	background-color: #e6e6e6;
}


textarea {
	display: block;
	height: 100px;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	margin: 1px;
	border: 1px solid #ccc;
	padding: 6px;
}

#run {
	color: #000;
	padding: 6px 10px;
	font-size: 12px;
	background-color: #e6e6e6;
	border: 1px solid #d2d2d2;
	margin: 1px;
}

p {
	padding: 0;
	margin: 0;
}

#string {
	width: 200px;
	margin: 1px;
	border: 1px solid #ccc;
	padding: 6px;
}

#control {
	padding: 10px;
	margin: 0 10px 10px 10px;
	background: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 10px;
	float: left;
}

/*#help {
	padding: 20px;
	margin: 10px;
	background: #fff;
	float: right;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	width: 500px;
	border-radius: 10px;
}*/

#table_div {
	padding: 10px;
	margin: 10px;
	background: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 10px;
	overflow: auto;
}

#table {
	border-collapse: collapse;
}

th {
	border: 1px solid #ccc;
	min-width: 20px;
	min-height: 20px;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}

/*h2 {
	margin-top: 0;
}*/